<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PostIP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PostIP.Properties.Settings>
            <setting name="Address" serializeAs="String">
                <value>http://39.98.133.157:50000/?token=123&amp;action=__post__</value>
            </setting>
            <setting name="RAddress" serializeAs="String">
                <value>http://{0}:8081</value>
            </setting>
        </PostIP.Properties.Settings>
    </userSettings>
</configuration>